* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  #note-content pre, #note-content code {
    font-size: 0.75rem;
  }
}

@media print {
  #sidebar, #note-toolbar, #btn-open-sidebar, #overlay { display: none !important; }
  #note-content { padding: 0; max-width: 100%; }
  body { overflow: visible; }
  main { overflow: visible; }
}
